body {
  /* fallback */
  background-color: #f9f9f9;
  background: #fff url('../img/truro_right.jpg') no-repeat bottom center;
  background-size: 100% auto;
  background-attachment: fixed;

  /* Safari 4-5, Chrome 1-9 */
  /* background: -webkit-gradient(linear, left top, right top, from(#49cf35), to(#2F2727));

  /* Safari 5.1, Chrome 10+ */
  /* background: -webkit-linear-gradient(left, #2F2727, #49cf35);

  /* Firefox 3.6+ */
  /* background: -moz-linear-gradient(left, #2F2727, #49cf35);

  /* IE 10 */
  /* background: -ms-linear-gradient(left, #2F2727, #49cf35);

  /* Opera 11.10+ */
  /* background: -o-linear-gradient(left, #2F2727, #49cf35); */
}

/*.jumbotron {

  height: 300px;
  margin-bottom: 0px;
}*/

.navbar {
  background-image: none;
  background-color: rgba(255,255,255,.7);
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-form {
  margin: 10px auto 0px;
}

.wrap {
  border: none;
  margin: 0px auto 300px;
}

.content {
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.9);
}

#logo{
  /* margin: 10px 100px; */
  font-style: italic;
  font-family: Helvetica;
  font-weight: 100;
  letter-spacing: -3px;
  text-decoration: none;
}

li, h1, h2, h3, p, label {
  color: #222;
}

#search {
  margin: 10px auto;
  border-radius: 5px;
  width: 50%;
  display: inline-block;
}

#remaining-text {
  margin: 10px auto 10px 20px;
  display: inline-block;
}

#text-input {
  height: 100px;
  vertical-align: text-top;
}

#importance {
  height: 30px;
}

#archive-box {
  margin: 3px auto;
}

input .btn {
  padding: 0px;
}



ul#projects {
  padding-left: 0px;
  list-style-type: none;
}

.project {
  margin: 20px auto;
  font-family: Helvetica Light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 200;
  border-bottom: #999 solid 1px;
}

#myForm, .archived, .bottom-section {
  max-width: 800px;
}

#myForm .content {
  padding: 20px;
}

/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.done-true, .done-true a {
  text-decoration: line-through;
  color: #666;
}

.spinner-container {
  margin: 0px auto;
  width: 100%;
}

.spinner {
  width: 20%;
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about {
  text-align: center;
}

#about .btn {
  margin-top: 50px;
}

#about p {
  color: #ffffff;
}

#about h1 {
  margin-top: 10%;
  font-size: 100px;
  letter-spacing: -16px;
  color: #ffffff;
}