<div class="row" >
  <div class="col-xs-12" id="myForm">

    <form name="myForm" role="form" class="form-horizontal content">
      <div class="form-group" ng-class="{error: myForm.project.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Project</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input type="text" class="form-control" name="project" ng-model="project.project" required>
        </div>
        <div class="col-sm-1"></div>
        <span ng-show="myForm.name.$error.required" class="help-inline">
            Required</span>
      </div>
     
      <div class="form-group" ng-class="{error: myForm.task.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Task</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input class="form-control" type="text" name="task" ng-model="project.task" required>
        </div>
        <div class="col-sm-1"></div>
        <span ng-show="myForm.site.$error.required" class="help-inline">
            Required</span>
      </div>

      <div class="form-group" ng-class="{error: myForm.note.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Notes</label>
        <div class="col-sm-7 col-sm-offset-1">
          <textarea rows="6" name="note" id="note" ng-model="project.note" ></textarea>
        </div>
        <div class="col-sm-1"></div>
      </div>

       <div class="form-group" ng-class="{error: myForm.estimated.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Estimated Time</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input class="form-control" type="text" name="estimated" ng-model="project.estimated" required>
        </div>
        <span ng-show="myForm.site.$error.required" class="help-inline">Required</span>
        <div class="col-sm-1"></div>
      </div>
     
      <div class="form-group" ng-class="{error: myForm.due.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Due</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input class="form-control"  type="date" name="due" ng-model="project.due">
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group" ng-class="{error: myForm.timeFrame.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Time Frame</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input class="form-control"  type="text" name="timeFrame" ng-model="project.timeFrame">
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="form-group" ng-class="{error: myForm.importance.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Importance</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input class="form-control"  type="number" name="importance" id="importance" ng-model="project.importance" min="0" max="10" required>
        </div>
        <div class="col-sm-1"></div>
        <span ng-show="myForm.site.$error.required" class="help-inline">
            Required</span>
      </div>

      <div class="form-group" ng-class="{error: myForm.type.$invalid}">
        <label class="col-sm-2 col-sm-offset-1 control-label">Task Type</label>
        <div class="col-sm-7 col-sm-offset-1">
          <input class="form-control" type="text" name="type" ng-model="project.type">
        </div>
        <div class="col-sm-1"></div>
      </div>

      <div class="container archived">
        <div class="row col-sm-2 col-sm-offset-1">
          <p>Archived: <input type="checkbox" name="archive" id="archive-box" ng-model="project.archive"> </p>
        </div>
        <div class="col-sm-9"></div>
      </div>
    <!-- 
    <form ng-submit="addTodo()">
      <input class="form-control"  id="text-input class="form-control" " type="text" ng-model="todoText"  
             placeholder="add new todo here">
      <input class="form-control"  class="btn" type="submit" value="add">
    </form> -->

      <div class="container bottom-section">
        <div class="row col-sm-12">
          <a href="#/user/{{ user.username }}" class="btn btn-default">Cancel</a>
          <button type="button" ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary">Save</button>
          <button type="button" ng-click="destroy()" ng-show="project.$id" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
</div>