<div class="row" ng-show="!spinner && todos">
  <div class="col-sm-6 content">
    
    <input type="text" ng-model="search" id="search" class="form-control" placeholder="Search">
    <!-- A knight never counts his enemies.     
      <span id="remaining-text"><p>{{tasksCount().leftToDo}} of {{tasksCount().allCurrentTasks}} remaining</p></span>
    -->    
      <div class="row">
        <div class="col-lg-7">
          <div class="btn-group" id="primary-nav">
            <button ng-click="showProject =! showProject" type="button" class="{{ (showProject) && 'btn btn-info active' || 'btn btn-info'}}">Project</button>
            <button ng-click="showDate =! showDate" type="button" class="{{ showDate && 'btn btn-info active' || 'btn btn-info'}}">Date</button>
            <button ng-click="showImportance =! showImportance" type="button" class="{{ showImportance && 'btn btn-info active' || 'btn btn-info'}}">Importance</button>
            <button ng-click="showHideIcon =! showHideIcon" type="button" class="{{ showHideIcon && 'btn btn-info active' || 'btn btn-info'}}">Hide</button>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="btn-group" id="secondary-nav">
            <a type="button" href="#/dice" class="btn btn-default">Roll</a>
            <button ng-click="unhideAll(todos)" class="btn btn-default" type="button">Unhide</button>
            <button ng-click="archive()" class="btn btn-default">Archive</button>
          </div>
        </div>
      </div>

    <ul id="projects">
      <li class="project" ng-repeat="(key, todo) in filterSecId(todos) | unarchived | orderByImportance | filter:search" ng-hide="todo.hide">
        <input type="checkbox" ng-model="todo.done" ng-click="saveChange(todo)">
        <span ng-class="{done: todo.done}">
          <a ng-click="focus(todo)" ui-toggle="showProject">
            <strong>
              {{todo.project}}
            </strong>
          </a>
          <span ui-toggle="showProject"> - </span> <span class="task">{{todo.task}}</span>. <span class="date" ui-toggle="showDate">{{todo.due | date:'MMMM dd'}} </span>  <i ng-show="showHideIcon" class="hide-icon fa fa-eye-slash fa-fw" ng-click="hide(todo)"></i> <span class="importance" ui-toggle="showImportance">{{todo.importance}}</span>

        </span>
      </li>
    </ul>
  </div>
  <div class="col-sm-5 col-sm-offset-1 content" ng-show="focused">
    <h2>{{focused.project}}</h2>
    <h3>{{focused.task}}</h3>
    <p ng-show="focused.note">Notes: <span ng-bind-html-unsafe="focused.note | noHTML | newlines"></span></p>
    <p ng-show="focused.due">Due: {{focused.due}}</p>
    <p ng-show="focused.timeframe">Timeframe: {{focused.timeframe}}</p>
    <p>Importance {{focused.importance}}</p>
    <p>Type: {{focused.type}}</p>
    <p ng-show="focused.start">Start: {{focused.start | date:'EEE, MM/dd @ h:mma'}}</p>
    <p ng-show="focused.edited">Edited: <ul><li ng-repeat="(key, value) in filterKey(focused.edited)">{{value | date:'EEE, MM/dd @ h:mma'}}</li></ul></p>
    <p class="ng-show:focused.end; ng-show:focused.done;">Finished: {{focused.end | date:'EEE, MM/dd @ h:mma'}}</p>
    <!-- <p>Archived: {{focused.archived}}</p> -->
    <hr />
    <a href="#/edit/{{focused.id}}" class="btn btn-primary">Edit</a>
    <a href="" ng-click="focus(focused.id)" class="btn btn-default">Close</a>
  </div>
</div>
